@import "~antd/dist/antd.css";

.ant-image {
  margin: 1em 2em 0.2em 2em;
  border: 1px solid;
}

.image-wrapper {
  display: inline-block;
}

.myPage {
  margin-top: 1.5em;
}

.toolbar {
  margin-right: 8px;
  margin-top: 6px;
}

.myCheckbox {
  display: block;
}

.myCheckbox .ant-checkbox {
  display: inline-block;
}

.mySubCheckbox {
  transform: translate(59px, -64px);
}
